<% if @posts.present?%>
  <div class="card-columns">  
    <% @posts.each do |post| %>
      <div class = "card mt-3 ml-2 border-info bg-light">
          <div class="card-body">
            <div class= "image">
              <%= image_tag post.image, class: 'message-image' %>
            </div>
            <h5 class="card-title"><%= post.title%></h5>
            <p class="card-text"><%= post.text.truncate(30)%></p>
            <%= link_to post.user.nickname, user_profiles_path(post.user.id) %>
            <% if user_signed_in?%>
              <div class="float-right heart" >
                <%= link_to "詳細", post_path(post.id) %>
                <% if current_user.already_favorited?(post) %>
                  <%= link_to  post_favorites_path(post), method: :delete do %>
                    <i class="fas fa-heart heart ml-1"><%= post.favorites.count%></i>
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(post), method: :post do %>
                    <i class="far fa-heart heart ml-1"><%= post.favorites.count%></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="float-right heart">
                <i class="far fa-heart"><%= post.favorites.count%></i>
              </div>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% else %>
  <h2><%= @user.nickname %>さんはまだ投稿していません</h2>
<% end %>