<div class="mx-auto mt-5" style="width:30%;">
  <%= form_with model: @profile ,url: user_profile_path,method: :patch,local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object%>
    <div class = "ml-5 fa-lg">
      <%= f.text_field :height ,placeholder: "身長" %> cm
    </div>
    <div class = "ml-5 mt-4 fa-lg">
      <%= f.text_field :weight ,placeholder:"体重" %> kg
    </div>
    <div class = "ml-5 mt-4 fa-lg">
      <%= f.text_field :fat_rate ,placeholder:"体脂肪率" %> %
    </div>
    <div class ="ml-5 mt-4 fa-lg">
      <%= f.submit "プロフィールを更新する",class:"btn btn-primary"%>
    </div>
  <% end %>
</div>