<div class="ml-5 mt-3"> 
  <h1><%= t('.sign_up') %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'shared/error_messages', model: f.object%>

    <div class="form-group ml-3">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class:'form-control w-25' %>
    </div>

    <div class="form-group ml-3">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control w-25' %>
    </div>

    <div class="form-group ml-3">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control w-25' %>
      <p>(半角英数字を含む6字以上)</p>
    </div>

    <div class="form-group ml-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control w-25' %>
    </div>

    <div class="form-group ml-3">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%#= render 'devise/shared/links' %>
</div>