<h1>Show</h1>
<div class="card-columns">
  <div class = "card mt-3">
    <div class="card-body">
      <%= image_tag @post.image ,:size =>'320x480', class: 'message-image' %>
      <h5 class="card-title"><%= @post.title%></h5>
      <p class="card-text"><%= @post.text%></p>
      <%= @post.user.nickname %>
      <% if current_user.id === @post.user_id%>
        <%= link_to "編集する", edit_post_path(@post.id) %>
        <%= link_to "削除する", post_path(@post.id), method: :delete %>
      <% end %>
      <%= link_to "コメントする","#"%>
    </div>
  </div>
</div>